.root{
    -fx-background-color: #a89282;
}

.label{
    -fx-font-family: Impact;
}

.spinner{
    -fx-font-family: Impact;
    -fx-background-color: #d1d1d1;
}

.radio-button{
    -fx-font-family: Impact;
}

.text-field{
    -fx-font-family: Impact;
    -fx-background-color: #d1d1d1;
}

.button{
    -fx-background-color: #d1d1d1;
}

.choice-box{
    -fx-background-color: #d1d1d1;
}