.root{
    -fx-background-color: #946e4b;
}

.label{
    -fx-font-family: Impact;
}

.spinner{
    -fx-font-family: Impact;
    -fx-background-color: "gray";
}

.radio-button{
    -fx-font-family: Impact;
}

.text-field{
    -fx-font-family: Impact;
    -fx-background-color: "gray";
}

.button{
    -fx-background-color: "gray";
    -fx-color-label-visible: "white";
}

.choice-box{
    -fx-background-color: "gray";
}